.time_block:after {
  width: 100%;
  content: "";
  border-bottom: 1px solid black;
  position: absolute;
  pointer-events: none;
  z-index: 1;
}

.wrapper {
  position: absolute;
  top: 70px;
  left: 100px;
  width: 100%;
}
