.column {
  background: white;
  position: absolute;
  z-index: 2;
  width: 100px;
  text-align: center;
}

.times {
  width: 50px;
}

.hour_label {
  text-align: right;
  height: 84px;
}

.corner {
  min-width: 100px;
  background: white;
}

.corner h2 {
  margin: 0;
}
