.column {
  background: white;
  position: absolute;
  width: 100px;
  text-align: center;
  border-right: 1px solid black;
  margin-top: 70px;
  z-index: 2;
}

.times {
  width: 50px;
}

.hour_label {
  text-align: right;
}

.corner {
  width: 100px;
  background: white;
  position: relative;
  z-index: 2;
}

.corner h2 {
  margin: 0;
}
