.wrapper {
  width: 100%;
  position: absolute;
  z-index: 3;
  transform: translateX(100px);
}

.line {
  height: 1px;
  background: blue;
}

.time {
  position: absolute;
  top: -10px;
  left: -50px;
}
