.wrapper {
  position: absolute;
  width: 100px;
  z-index: 3;
  background: white;
  height: 70px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.wrapper h2 {
    margin: 0;
    background: white;
}