.acuity-calendar {
  &__days {
    &__time-column {
      background: white;
      position: absolute;
      width: 100px;
      text-align: center;
      border-right: 1px solid black;
      margin-top: 70px;
      z-index: 2;
    }
    &__time-label {
      text-align: right;
    }
  }
}
