.acuity-calendar {
  &__step-grid {
    &__event-wrapper {
      padding: 7.5px 10px 0;
      text-align: left;
    }
    &__event {
      position: absolute;
      background: #26ada0;
      color: #fff;
      border-radius: 2px;
      z-index: 3;
      font-size: 12px;
      overflow: hidden;
      cursor: pointer;
      box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px;
    }
    &__dragging-event {
      z-index: 4;
    }
    &__dragging-placeholder-event &__event {
      opacity: 0.5;
    }
    &__event-title {
      display: block;
      margin-bottom: 7.5px;
    }
  }
}
