.acuity-calendar {
  &__step-grid {
    &__event-wrapper {
      padding: 7.5px 10px 0;
      text-align: left;
    }

    &__event-padding-wrapper {
      z-index: 3;
      position: absolute;
    }

    &__event {
      background: #26ada0;
      color: #fff;
      border-radius: 2px;
      font-size: 12px;
      overflow: hidden;
      cursor: pointer;
      box-shadow: 0px 0px 0px 1px rgb(255, 255, 255);
    }

    &__event-padding {
      background: #3dbe8b;
      z-index: 3;
      opacity: 0.25;
      pointer-events: none;
      background-image: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.2) 25%,
        rgba(17, 17, 17, 0.2) 25%,
        rgba(17, 17, 17, 0.2) 50%,
        rgba(255, 255, 255, 0.2) 50%,
        rgba(255, 255, 255, 0.2) 75%,
        rgba(17, 17, 17, 0.2) 75%
      );
      background-size: 8px 8px;
    }

    &__event-handle {
      position: absolute;
      height: 10px;
      width: 100%;
      left: 0;
      cursor: ns-resize;
      z-index: 4;
    }
    &__event-handle-top {
      top: 0;
    }
    &__event-handle-center {
      position: absolute;
      width: 100%;
    }
    &__event-handle-bottom {
      bottom: 0;
    }
    &__dragging-event {
      z-index: 4;
      box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2),
        0px 0px 0px 1px rgb(255, 255, 255);
    }
    &__dragging-placeholder-event &__event {
      opacity: 0.5;
    }
    &__event-title {
      display: block;
      margin-bottom: 7.5px;
    }
  }
}
