.acuity-calendar {
  &__times {
    width: 80%;
    display: flex;
    height: 400px;
    overflow-y: scroll;
    position: relative;
    &__today {
      background: grey;
    }
    &__header {
      display: flex;
      width: 100%;
      background: white;
      position: absolute;
      z-index: 4;
      left: 100px;
      text-align: center;
      height: 70px;
      border-bottom: 1px solid black;
      h2 {
        margin: 0;
        border-right: 1px solid black;
      }
    }
    &__columns {
      display: flex;
      width: 100%;
      position: relative;
      /* Width of the time gutter */
      left: 100px;
      /* Height of header */
      margin-top: 70px;
    }
  }
}
