.acuity-calendar {
  &__month {
    &__event {
      font-size: 12px;
      cursor: pointer;
    }

    &__event-details {
      display: flex;
      height: 20px;
      padding: 0 10px;
    }

    &__event-time {
      color: #777;
      margin-right: 8px;
    }

    &__event-details {
      white-space: nowrap;
    }
  }
}
