.wrapper {
  width: 80%;
  display: flex;
  height: 400px;
  overflow-y: scroll;
  position: relative;
}

.days_wrapper {
  display: flex;
  width: 100%;
  position: absolute;
  z-index: 1;
  margin-left: 100px;
}

.corner {
  min-width: 100px;
  background: white;
}

.corner h2 {
  margin: 0;
}

.column {
  text-align: center;
}

.times_column {
  background: white;
  position: absolute;
  z-index: 2;
  width: 100px;
}

.header {
  background: white;
  text-align: center;
  margin: 0;
}

.times {
  width: 50px;
}

.time {
  text-align: right;
  height: 55px;
}
