.acuity-calendar {
  &__step-grid {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-right: 1px solid #e7e7e7;

    /* ------ Header START ------ */
    &__header-wrapper {
      display: flex;
      border-top: 1px solid #e7e7e7;
      position: relative;
    }

    &__corner {
      position: relative;
      z-index: 5;
      background: white;
      border-right: 1px solid #e7e7e7;
      border-left: 1px solid #e7e7e7;
    }
    &__corner h2 {
      margin: 0;
      background: white;
    }

    &__header {
      display: flex;
      width: 100%;
      background: white;
      z-index: 4;
      text-align: center;
    }

    &__header-column {
      font-size: 12px;
      flex: 1;
      display: flex;
      align-items: center;
      &:not(:last-child) {
        border-right: 1px solid #e7e7e7;
      }
      h2 {
        font-size: 12px;
        color: #444;
        font-weight: 400;
        padding: 25px 0;
      }
    }

    &__header-column-container {
      margin: 0 auto;
    }

    &__scroll-gutter {
      height: 100%;
      background: white;
      position: absolute;
      z-index: 5;
      right: -2px;
      border-right: 1px solid #e7e7e7;
      border-left: 1px solid #e7e7e7;
    }

    &__scroll-gutter-connector {
      width: 100%;
      background: white;
      height: 1px;
      bottom: -1px;
      position: absolute;
    }
    /* ------ Header END ------ */

    /* ------ Grid START ------ */
    &__grid-wrapper {
      position: relative;
      width: 100%;
      display: flex;
      overflow: auto;
      position: relative;
      border: 1px solid #e7e7e7;
      background: #f3f3f3;
    }

    &__step-lines {
      width: 100%;
      position: absolute;
      top: -1px;
      z-index: 2;
    }
    &__step-line:after {
      width: 100%;
      content: '';
      border-bottom: 1px solid #e7e7e7;
      position: absolute;
      pointer-events: none;
      z-index: 2;
    }
    &__step-line-minor:after {
      border-bottom: 1px dashed #e7e7e7;
    }

    &__time-gutter {
      background: white;
      position: relative;
      flex: 1 0 50px;
      text-align: center;
      border-right: 1px solid #e7e7e7;
      z-index: 5;
      text-align: right;
    }
    &__time-label {
      font-size: 10px;
      color: #444;
      transform: translateY(-8px);
      display: block;
      margin-right: 4px;
    }
    &__time-label-0 {
      display: none;
    }

    &__grid {
      display: flex;
      width: 100%;
    }

    &__grid-column {
      &:not(:last-child) {
        border-right: 1px solid #e7e7e7;
      }
      text-align: center;
      position: relative;
      flex: 1;
    }

    &__step-detail-wrapper {
      position: absolute;
      width: 100%;
      z-index: 1;
    }

    /* ------ Grid END ------ */

    &__today {
      background: #edf8f2;
    }

    &__select-slot-indicator {
      border-bottom: 2px dashed #c1c1c1;
      position: absolute;
      width: 100%;
      text-align: center;
      z-index: 4;
    }

    &__select-slot-indicator-time {
      position: absolute;
      top: -20px;
      font-size: 14px;
      left: 0;
      right: 0;
    }

    &__select-range {
      position: absolute;
      width: 99%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 4;
      border-radius: 4px;
      color: white;
      user-select: none;
    }

    &__current-time-indicator {
      width: 100%;
      position: absolute;
      z-index: 6;
      &__line {
        height: 1px;
        background: #af5b55;
        opacity: 0.4;
      }
      &__line-today {
        height: 1px;
        background: #af5b55;
      }
      &__time {
        position: absolute;
        transform: translate(-115%, -7px);
        color: #c9484d;
        background: #fff;
        box-shadow: -3px 0px 8px 5px #fff;
        font-size: 10px;
      }
    }
  }
}
