.acuity-calendar {
  &__step-grid {
    width: 100%;
    height: 400px;
    overflow-y: auto;
    position: relative;
    border: 1px solid #e7e7e7;
    background: #f3f3f3;

    &__wrapper {
      position: relative;
    }

    &__header-wrapper {
      display: flex;
      overflow: hidden;
      border-top: 1px solid #e7e7e7;
    }

    &__corner {
      position: relative;
      width: 50px;
      z-index: 5;
      background: white;
      border-right: 1px solid #e7e7e7;
      border-left: 1px solid #e7e7e7;
      flex-shrink: 0;
    }
    &__corner h2 {
      margin: 0;
      background: white;
    }

    &__header {
      display: flex;
      background: white;
      position: relative;
      z-index: 4;
      text-align: center;
    }

    &__header-column {
      &:not(:last-child) {
        border-right: 1px solid #e7e7e7;
      }
      margin: 0;
      min-width: 124px;
      width: 14.286%;
      h2 {
        font-size: 14px;
        color: #444;
        font-weight: 400;
      }
    }

    &__header-scroll-gutter {
      height: 43px;
      background: white;
      position: absolute;
      z-index: 5;
      right: -2px;
      border-right: 1px solid #e7e7e7;
      border-left: 1px solid #e7e7e7;
    }

    &__header-scroll-gutter-padding {
      height: 39px;
    }

    &__header-scroll-gutter-connector {
      width: 100%;
      background: white;
      height: 1px;
      bottom: -1px;
      position: absolute;
    }

    &__column-wrapper {
      display: flex;
    }

    &__today {
      background: #edf8f2;
    }

    &__columns {
      display: flex;
      width: 100%;
      position: relative;
    }
  }
}
