.acuity-calendar {
  &__month {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    &__days {
      overflow: hidden;
      margin: 0;
      border: 1px solid #e7e7e7;
      display: flex;
      flex-direction: column;
      flex: 1 1 0;
    }
    &__header {
      display: flex;
      border-left: 1px solid #e7e7e7;
    }
    &__column-header {
      flex: 1 1 0;
      text-align: center;
      border-top: 1px solid #e7e7e7;
      border-right: 1px solid #e7e7e7;
      text-transform: uppercase;
      padding: 10px;
      font-weight: 600;
    }
    &__date-wrapper {
      position: absolute;
      z-index: 4;
      font-size: 14px;
      color: #2c2929;
      cursor: pointer;
      right: 5px;
      top: 5px;
      padding: 3px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      &:hover {
        background: #e7e7e7;
      }
    }
    &__date {
      line-height: 1em;
      margin: 0 auto;
      &--not-in-range {
        color: #a9a5a5;
      }
    }
    &__row {
      position: relative;
      overflow: hidden;
      display: flex;
      flex: 1 1 0;
      width: 100%;
      &:not(:last-child) {
        border-bottom: 1px solid #e7e7e7;
      }
    }
    &__cell {
      position: relative;
      &:not(:last-child) {
        border-right: 1px solid #e7e7e7;
      }
      width: 100%;
      &--not-in-range {
        background: #fbf9f9;
      }
    }
    &__event-wrapper {
      margin-top: 35px;
    }
  }
}
