.acuity-calendar {
  &__step-grid {
    &__step-detail-wrapper {
      background: #fff;
      position: absolute;
      width: 100%;
      z-index: 1;
    }

    &__column {
      &:not(:last-child) {
        border-right: 1px solid #e7e7e7;
      }
      text-align: center;
      position: relative;
      min-width: 124px;
      width: 14.286%;
    }
  }
}
