.acuity-calendar {
  &__step-grid {
    &__header-column {
      &:not(:last-child) {
        border-right: 1px solid #e7e7e7;
      }
      margin: 0;
      h2 {
        font-size: 12px;
        color: #444;
        font-weight: 400;
      }
    }
  }
}
