.acuity-calendar {
  &__step-grid {
    &__current-time-indicator {
      width: 100%;
      position: absolute;
      z-index: 3;
      &__line {
        height: 1px;
        background: rgba(360, 57, 73, 40);
      }
      &__line-today {
        height: 1px;
        background: #af5b55;
      }
      &__time {
        position: absolute;
        transform: translate(-105%, -7px);
        color: #c9484d;
        background: #fff;
        box-shadow: -3px 0px 8px 5px #fff;
        font-size: 12px;
      }
    }
  }
}
