.acuity-calendar {
  &__step-grid {
    &__column {
      &:not(:last-child) {
        border-right: 1px solid #e7e7e7;
      }
      text-align: center;
      position: relative;
      min-width: 124px;
      width: 14.286%;
    }
    &__event-columns {
      position: relative;
      display: flex;
    }
    &__event-column {
      position: relative;
      width: 100%;
    }
  }
}
