.acuity-calendar {
    &__step-grid {
      &__header-wrapper {
        display: flex;
        overflow: hidden;
        border-top: 1px solid #e7e7e7;
      }
  
      &__header {
        display: flex;
        background: white;
        position: relative;
        z-index: 4;
        text-align: center;
      }
  
      &__header-in-container {
        position: absolute;
        border-bottom: 1px solid #e7e7e7;
      }
  
      &__header-scroll-gutter {
        height: 43px;
        background: white;
        position: absolute;
        z-index: 5;
        right: -2px;
        border-right: 1px solid #e7e7e7;
        border-left: 1px solid #e7e7e7;
      }
  
      &__header-scroll-gutter-padding {
        height: 39px;
      }
  
      &__header-scroll-gutter-connector {
        width: 100%;
        background: white;
        height: 1px;
        bottom: -1px;
        position: absolute;
      }
    }
  }
  