.acuity-calendar {
  &__step-grid {
    &__step-lines {
      position: absolute;
      top: 39px;
      width: 100%;
    }
    &__step-line:after {
      width: 100%;
      content: "";
      border-bottom: 1px solid #e7e7e7;
      position: absolute;
      pointer-events: none;
      z-index: 1;
    }
    &__step-line-minor:after {
      border-bottom: 1px dashed #e7e7e7;
    }
  }
}
