.acuity-calendar {
  &__step-grid {
    &__time-column {
      background: white;
      position: relative;
      width: 50px;
      text-align: center;
      border-right: 1px solid black;
      z-index: 2;
    }
    &__time-label {
      text-align: right;
    }
  }
}
